
.netflix-body{
background-color:black;
}

.netflix-body{
display:flex;
flex-direction:column;
 color:white;

}
.pre-mid-section{
   
    display:flex;
    align-items: center;
     justify-content: center;
}

 .mid-section-profile{
   
    display:flex;
    /* flex-direction: row;  */
    justify-content: space-evenly;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    
     

}
/* .mid-section-profile1{
    display:flex;

    
    } */


.mid-section-button{
    display:flex;
    justify-content: center;
    /* opacity: 0.6; */
    /* border:navajowhite; */
    /* font-size: 20px; */
    background-color: transparent;
    color: transparent;
    /* padding: 8px 5px; */
    /* color: black; */
     padding-left:5%;
     padding-right: 5%;
     padding-top: 5%;
    /* border:none; */
    cursor: pointer;
    /* color:white; */

}
.netflix-second-page{
    background-color: black;
    padding-left: 25px;
    
    /* background-color: aliceblue; */
}
.header{
    display:flex;
    justify-content: space-between;
    color:white;
    background-color: rgba(29, 27, 27, 0.137);
    /* text-decoration: none; */
    /* background-image: url(./mainimage.jpg); */
    /* padding-top: 20px; */
    /* background-size: 2500px 900px; */
    /* background-size: 1400px 800px;
    background-repeat: no-repeat; */
}
/* #links{
    text-decoration: none;
    color: white;
    background-color: aqua;
} */
 .header-icons{
    display:flex;
    justify-content: right;
    justify-content: space-between;
    color: white;

} 
 .main-area{
    background-image: url(./mainimage.jpg);
    /* padding-top: 20px; */
    background-size: 1500px 900px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color:white;
} 
.main-area1{
    /* display: flex; */
    text-align: left;
    /* flex-direction: column; */
    /* justify-content: end; */
    bottom: 10px;
    padding: 15px 32px; 
   
    /* justify-content:left; */
    /* color: aqua; */
    
}

.popular-on-netflix{
    color:white;
}
.continue-watching{
    color:white
}
.trending-now{
    color: white;
}
.us-tv-dramas{
    color: white;
}
.internationaltv-shows{
    color: white;
}
.drama{
    color: white;
}
.action{
    color: white;
}